body {
    background-color: rgb(235, 235, 235)
}

.navbar {
    background-color: rgb(210, 37, 110)
}

.container-fluid {
    margin-top: 1em;
    width: 75%;
    
}

.btn {
    margin-bottom: 1em;
}